.caret {
    cursor: pointer;
    user-select: none;
  }
  

  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 8px;
    transform: rotate(90deg) scaleX(1.2);
    font-size: 0.6em;
  }
  

  .caret-down::before {
    transform: rotate(-90deg);
  }
  

  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  