.App {
    min-height: 100vh;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .main {
    display: flex;
    align-items: stretch;
    padding: 20px;
  }
  
  .main-sidebar-title{
    margin: 0;
    margin-bottom: 10px;
  }
  .main-sidebar {
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-content {
    width: 70%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .main-divider {
    width: 1px;
    background-color: #000000;
    margin-top: 10px;
  }
  